{% extends "customer/base.html" %}
{% load static %}

{% block title %}Shopping Cart{% endblock %}

{% block content %}
<div class="content">
	<div class="shopping-cart">
		<h1>Your shopping cart</h1>
		<table class="table cart">
			<thead class="table-head">
				<tr>
					<th>Image</th>
					<th>Product</th>
					<th>Brand</th>
					<th>Quantity</th>
					<th>Remove</th>
					<th>Unit Price</th>
				</tr>
			</thead>
			
			<tbody>
				{% for item in cart %}
					{% with product=item.product %}
					<tr>
						<td>
								<img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "media/img/icon-no-image.svg" %}{% endif %}" id="shopping-cart-image">
						</td>
						<td><a href="{{ product.get_absolute_url }}" class="product-url">{{ product.model }}</a></td>
						<td>{{ item.brand }}</td>
						<td>{{ item.quantity }}</td>
						<td>
							<form action="{% url "cart:cart_remove" product.id %}" method="post">
								<input type="submit" value="Remove" class="remove-btn">
								{% csrf_token %}
							</form>
						</td>
						<td class="num">${{ item.price }}</td>
					</tr>
					{% endwith %}
				{% endfor %}
				<tr class="total">
					<td colspan="4"></td>
					<td id="total-text">Total</td>
					<td class="num">${{ cart.get_total_price }}</td>
				</tr>
			</tbody>
		</table>
		<p class="text-right">
			<a href="{% url "rentalapp:rentals" %}" class="buttonlight continue-btn">Continue shopping</a>
			<a href="{% url "orders:order_create" %}" class="button checkout-btn cart-btn">Checkout</a>
		</p>
	</div>
</div>
{% endblock %}
