:root {
	--white: #f1f1f1;
	--black: #131313;
	--purple: #aa4ff6;
	--pink: #ea80fc;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	width: 100vw;
	height: 100vh;
}

body {
	width: 100%;
	height; 100%;
	background: var(--black);
}
