:root {
	font-family: "Sans-serif";
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	width: 100vw;
	height: 100vh;
	background: #aa4ff6;
	display: grid;
	justify-content: center;
	align-content: center;
}

body {
	width: 100%;
	display: grid:
	justify-content: center;
	align-content: center;
	background: #131313;
	padding: 2em;
}

#account-card {
	display: grid;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#account-card-content {
	width: 100%;
}

.card-title {
	color: #f1f1f1;
	text-align: center;
	font-size: 45px;
	margin: .5em 1em 1em 1em;
}

form {
	display: flex;
	flex-direction: column;
}

input  {
	margin: 10px 0;
	width: 100%;
	height: 30px;
	border: none;
	background: #f1f1f1;
	border-radius: 2px;
	text-decoration: none;
}

input:focus {
	border: solid 1px #aa4ff6;
}

.account-cta {
	margin-top: .8em;
	width: 100%;
	height: 50px;
	font-size: 20px;
	background: #aa4ff6;
	transition: ease .1s;
	cursor: pointer;
}

button:hover {
	background: rgba(170,79,246,0.8);
	border: none;
}

.account-redirect {
	text-align: center;
	font-size: 15px;
}

.account-info {
	color: #f3f3f3; 
}

.account-info a {
	color: #aa4ff6;
}

#messages {
	padding: .5em;
	border-radius: 2px;
}
