{% extends 'customer/base.html' %}
{% load static %}

{% block title %}
	{{product.model}}
{% endblock %}

{% block content %}
<div class="content">
	<div class="product-detail-content">
		<img src="{% if product.image %}{{product.image.url}}{% else %}{% static "media/images/icon-no-image.svg" %}{% endif %}" class="product-img">
		<div class="product-view">
			<div class="product-header">
				<p class="product-model">{{product.brand}} {{product.model}}</p>
			</div>
			<p class="product-price">${{product.price}}</p>
			<form action="{% url "cart:cart_add" product.id %}" method="POST">
				{{ cart_product_form }}
				{% csrf_token %}
			<button type="submit" {% if product.available %}id="available-btn"{% else %}id="unavailable-btn" disabled{% endif %}>{% if product.available %}Rent{% else %}Unavailable{% endif %}</button>
				<!-- <input type="submit" value="Add to cart"> -->
			</form>
			<p class="product-description">{{ product.description|linebreaks }}</p>
			<ul class="product-details">
				<li><span class="detail">Model:</span> {{product.model}}</li>
				<li><span class="detail">Manufacturer:</span> {{product.brand}}</li>
				<li><span class="detail">Color:</span> {{product.color}}</li>
				<li><span class="detail">Capacity:</span> {{product.capacity}}</li>
				<li><span class="detail">Fuel Type:</span> {{product.fuel_type}}</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}
