{% extends "customer/base.html" %}
{% load static %}

{% block title %}Billing{% endblock %}

{% block content %}
<div class="content">
	<p class="section-title">Invoices</p>
	<table class="table table-hover">
		<thead class="table-head">
			<tr>
				<th class="th">Id</th>
				<th class="th">Transaction Date</th>
				<th class="th">Customer Name</th>
				<th class="th">Car</th>
				<th class="th">Pickup Date</th>
				<th class="th">Return Date</th>
				<th class="th">Amount</th>
				<th class="th">Status</th>
			</tr>
		</thead>


		<!-- {% for product in products %} -->
		<!-- 	<tr class="billing-items"> -->
		<!-- 		<td>{{ product.model }}</td> -->
		<!-- 		<td>{{ product.manufacturer }}</td> -->
		<!-- 		<td>{{ product.colour }}</td> -->
		<!-- 		<td>{{ product.body }}</td> -->
		<!-- 		<td>{{ product.fuel }}</td> -->
		<!-- 		<td>{{ product.condition }}</td> -->
		<!-- 		<td>{{ product.status }}</td> -->
		<!-- 	</tr> -->
		<!-- {% endfor %} -->
		
		<tbody>
			<tr class="product">
				<td>123019</td>
				<td>07/03/22</td>
				<td>Lucas Torres</td>
				<td>Tucson</td>
				<td>07/13/22</td>
				<td>08/15/22</td>
				<td>$500.00</td>
				<td>Active</td>
			</tr>
		</tbody>
{% endblock %}
