{% extends "customer/base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="content">
	<p class="section-title">Rentals</p>
	<table class="table table-hover">
		<tr>
			<th class="th">Model</th>
			<th class="th">Brand</th>
			<th class="th">Color</th>
			<th class="th">Capacity</th>
			<th class="th">Fuel Type</th>
			<th class="th">Available</th>
			<th class="th">Price</th>
		</tr>

		{% for product in products %}
			<tr class="product">
				<a href="{{ product.get_absolute_url }}">
					<td>{{ product.model }}</a></td>
					<td>{{ product.brand }}</td>
					<td>{{ product.color }}</td>
					<td>{{ product.capacity }}</td>
					<td>{{ product.fuel_type }}</td>
					<td>{{ product.available }}</td>
					<td>{{ product.price }}</td>
				</a>
			</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}
