{% extends "customer/base.html" %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="content">
	<p class="section-title">Settings</p>
	<div class="content-cards">
		<div class="profile-card-container">
			<div class="payment-form">
				<form>
					<div class="input-same-line">
						<input type="text" class="input-form input-left" placeholder="First Name">
						<input type="text" class="input-form input-right" placeholder="Last Name">
					</div>
					<input type="text" class="input-form input-full" placeholder="Email">
					<div class="input-same-line">
						<input type="text" class="input-form input-left" placeholder="Date of Birth">
						<input type="text" class="input-form input-right" placeholder="Phone">
					</div>
					<input type="text" class="input-form input-full" placeholder="Street Address">
					<div class="input-same-line">
						<input type="text" class="input-form input-left" placeholder="City">
						<input type="text" class="input-form input-right" placeholder="Postal Code">
					</div>
					<button type="button" id="add-cta">Save Changes</button>
				</form>
			</div>
		</div>

	</div>
</div>
{% endblock %}
