{% extends "customer/base.html" %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="content">
	<p class="section-title">Profile Settings</p>
	<div class="content-cards">

		<div class="profile-card-container">
			<div class="payment-form">
				<form>
					<div class="input-same-line">
						<label>First name</label>
						<input type="text" class="input-form input-left" placeholder="">
					</div>

					<div class="input-same-line">
						<label>Last name</label>
						<input type="text" class="input-form input-left" placeholder="lastname">
					</div>

					<div class="input-same-line">
						<label>Email</label>
						<input type="text" class="input-form input-left" placeholder="email">
					</div>

					<div class="input-same-line">
						<label>Date of Birth</label>
						<input type="text" class="input-form input-left" placeholder="Date of Birth">
					</div>

					<div class="input-same-line">
						<label>Mobile</label>
						<input type="text" class="input-form input-left" placeholder="Mobile">
					</div>

					<div class="input-same-line">
						<label>Address</label>
						<input type="text" class="input-form input-left" placeholder="{{ user.billing.address }}">
					</div>

					<div class="input-same-line">
						<label>City</label>
						<input type="text" class="input-form input-left" placeholder="City">
					</div>

					<div class="input-same-line">
						<label>Postal Code</label>
						<input type="text" class="input-form input-left" placeholder="Postal Code">
					</div>

					<button type="button" id="add-cta">Save Changes</button>

				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
