{% extends "customer/base.html" %}
{% load static %}

{% block title %}Payments{% endblock %}

{% block content %}
<div class="content content-cards">
	<div class="payment-detail-container">
		<div class="payment-accept-card">
			<p>We accept the following:</p>
			<div class="card-list-options">
				<div class="cards">
				</div>
				<div class="cards">
				</div>
				<div class="cards">
				</div>
			</div>
		</div>
		<div class="payment-form">
			<form>
				<input type="text" class="input-form" placeholder="Card Number">
				<div class="input-same-line">
					<input type="text" class="input-form input-ccv" placeholder="CCV">
					<input type="text" class="input-form input-exp" placeholder="Expiry Date">
				</div>
				<input type="text" class="input-form" placeholder="Name on Card">

				<!-- <input type="text" class="form-control" id="input-card-number" placeholder="Card Number"> -->
				<!-- <div class="input-same-line"> -->
				<!-- 	<input type="text" class="form-control" id="input-ccv" placeholder="CCV"> -->
				<!-- 	<input type="text" class="form-control" id="input-expiry" placeholder="Expiry Date"> -->
				<!-- </div> -->
				<!-- <input type="text" class="form-control" id="input-name" placeholder="Name on card"> -->
				<button type="button" id="add-cta">Add Payment</button>
			</form>
		</div>
	</div>
	<div class="payment-options">
		<p>hello</p>
	</div>
</div>
{% endblock %}
