{% extends "customer/base.html" %}
{% load static %}

{% block title %}Checkout{% endblock %}

{% block content %}
<div class="content">
	<p class="title">Shipping Address</p>
	<div class="order">
		<div class="order-checkout">
			<form method="POST" class="user-info-form" id="user-info-form">
				{% csrf_token %}
				{% for field in form %}
					{{ field }}
				{% endfor %}
				<input type="submit" value="Place Order" id="place-order-btn">
			</form>
		</div>
		<div class="checkout-summary-card">
			<h3>Order Summary</h3>
			<div class="order-item-list">
				<ol class="checkout-summary">
					{% for item in cart %}
						<li>
							<p><a href="{{ item.product.get_absolute_url }}">{{ item.product.model }}</a> <span>${{ item.total_price }}</span></p>
						</li>
					{% endfor %}
				</ol>
			</div>
			<p id="checkout-total">Total: ${{ cart.get_total_price }}</p>
		</div>
</div>


<script src="{% static "js/checkout_form.js" %}"></script>
{% endblock %}
