{% extends 'customer/base.html' %}
{% load static %}

{% block title %}
	{{product.model}}
{% endblock %}

{% block content %}
<div class="content">
		<p>Invoice #</p>
		<p></p>
		<div class="invoice-customer-details">
			<h1>Bill To:</h1>
			<ul class="user-details">
				<li class="detail">{{ user.firstname }} {{ user.lastname }}</li>
				<li class="detail">{{ user.email }}</li>
				<li class="detail">{{ user.mobile }}</li>
				<li class="detail">{{ user.address }}</li>
			</ul>
		</div>
		<div class="invoice-rented-items">
			<div class="shopping-cart">
				<h1>Items bought</h1>
				<table class="table cart">
					<thead class="table-head">
						<tr>
							<th>Image</th>
							<th>Product</th>
							<th>Brand</th>
							<th>Quantity</th>
							<th>Unit Price</th>
						</tr>
					</thead>
					<tbody>
						{% for item in cart %}
							{% with product=item.product %}
								<tr>
									<td>
										<img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "media/img/icon-no-image.svg" %}{% endif %}" id="shopping-cart-image">
									</td>
									<td><a href="{{ product.get_absolute_url }}" class="product-url">{{ product.model }}</a></td>
									<td>{{ item.brand }}</td>
									<td>{{ item.quantity }}</td>
									<td>
										<form action="{% url "cart:cart_remove" product.id %}" method="post">
											<input type="submit" value="Remove" class="remove-btn">
											{% csrf_token %}
										</form>
									</td>
									<td class="num">{{ item.price }}</td>
								</tr>
							{% endwith %}
						{% endfor %}
					</tbody>
				</table>	
			</div>
		</div>

</div>
{% endblock %}
