{% extends "customer/accounts/base_login.html" %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
	<div id="account-card">
		<p class="card-title">User Login</p>
		<div class="login-form">
			<form method="POST" action="">
				{% csrf_token %}
				{% for message in messages %}
					<p class="bg-primary" id="messages">{{message}}</p>
				{% endfor %}
				<input type="email" name="email" placeholder="Email" class="form-control">
				<input type="password" name="password" placeholder="Password" class="form-control">
				<input type="submit" name="login" value="Login" class="account-cta">
			</form>
		</div>	
		<div class="account-redirect">
			<p class="account-info">Don't have an account? <a href="{% url 'rentalapp:register' %}">Sign Up</a></p>
		</div>
	</div>
{% endblock %}
