{% load static %}
<!DOCTYPE HTML>

<head>
	<meta charset="utf-8">
	<title>Login</title>
	<link href="{% static "css/login.css" %}" rel="stylesheet">
</head>

<body>
	<div id="login-card">
		<div id="login-card-content">
			<p>Car Rental</p>
			<div class="login-form">
				<form action="" method="post">
					<input id="email" type="text" name="email" placeholder="Email">
					<input id="password" type="text" name="password" placeholder="Password">
					<button type="button">Login</button>
				</form>
			</div>	
		</div>
	</div>
</body>
