{% extends "customer/base.html" %}
{% load static %}

{% block title %}Checkout{% endblock %}

{% block content %}
<div class="content">
	<p class="title">Payment Method</p>
	<div class="checkout-payment-container">
		<div id="dropin-container"></div>
    <form id="payment" method="POST">
      {% csrf_token %}
      <button id="submit-button" type="submit">Purchase</button>
    </form>
	</div>

</div>

  <script>
    var button = document.querySelector('#submit-button');

    braintree.dropin.create({
      authorization: '{{ client_token }}',
      container: '#dropin-container',
      paypal: {
        flow:'checkout',
        amount:'10.00',
        currency:'CAD',
      }
    }, function (createErr, instance) {
      button.addEventListener('submit', function () {
        instance.requestPaymentMethod(function (requestPaymentMethodErr, payload) {
          // Submit payload.nonce to your server
          document.getElementById('nonce').value = payload.nonce;
          document.getElementById('payment').submit();
        });
      });
    });
  </script>
<!-- <script src="{% static "js/checkout.js" %}"></script> -->
{% endblock %}
