{% extends "customer/base.html" %}
{% load static %}

{% block title %}Checkout{% endblock %}

{% block content %}
<div class="content">
	<p class="title">Payment Method</p>
	<div class="checkout-payment-container">
		<div id="dropin-container"></div>
		<button id="submit-button">Purchase</button>
	</div>

</div>


<script src="{% static "js/checkout_form.js" %}"></script>
<script>
	var button = document.querySelector('#submit-button');

	braintree.dropin.create({
		authorization: '{{ client_token }}',
		container: '#dropin-container',
		paypal: {
			flow: 'checkout',
			amount: '{{ cart.get_total_price }}',
			currency: 'CAD'
		}
	}, function (createErr, instance) {
		button.addEventListener('click', function () {
			instance.requestPaymentMethod(function (requestPaymentMethodErr, payload) {
				// Submit payload.nonce to your server
				document.getElementById('nonce').value = payload.nonce;
				document.getElementByClassName('checkout-payment-container').getElementById('submit-button').submit();
			});
		});
	});
</script>
{% endblock %}
